[Unit]
Description=NFS Share for Music
Requires=network-online.target
After=network-online.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service

[Mount]
What=192.168.24.170:/mnt/storage/music
Where=/var/mnt/tuxbox/music
Type=nfs
Options=_netdev,defaults
TimeoutSec=5

[Install]
WantedBy=multi-user.target
