[Unit]
Description=Load ZFS Encryption Keys and Mount Datasets
DefaultDependencies=no
After=network.target
Requires=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/mount-zfs-encrypted-dir

[Install]
WantedBy=multi-user.target
