[Unit]
Description=Load ZFS Encryption Keys and Mount Datasets
DefaultDependencies=no
After=graphical.target
Requires=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/mount-zfs-encrypted-dir

[Install]
WantedBy=multi-user.target
